.main-about {
  max-width: 750px;
  margin: 0px auto;
}

.about-content {
  margin: 0px 15px;
}

.main-about h1 {
  text-align: center;
}

.about-cta-wrapper {
  align-items: center;
  margin-top: 40px;
}

.about-cta-wrapper a {
  max-width: 350px;
  margin-top: 20px;
}
