.blogs-h1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  color: var(--color-white);
  margin: 20px 0px 20px 5%;
  max-width: 650px;
}

.main-blogs .blogs-h1 .blogs-h1__all {
  font-size: 3.1rem;
  grid-row: 1/-1;
  grid-column: 1/2;
  text-align: end;
  margin-right: 5px;
}

.main-blogs .blogs-h1 .blogs-h1__blog-posts {
  grid-row: 1;
  grid-column: 2/-1;
  text-align: start;
  align-self: end;
}

.main-blogs .blogs-h1 .blogs-h1__cro {
  grid-row: 2;
  grid-column: 2/-1;
  text-align: start;
}

.view-more-btn {
  display: block;
  margin: 15px auto 0px;
  background: none;
  border: none;
}

/* cards */

.blogs-container {
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin: 0px 15px;
}

@media (min-width: 800px) {
  .card-wrapper--blogs {
    max-width: 350px;
  }
}

@media (min-width: 1000px) {
  .card-wrapper--blogs {
    max-width: 450px;
  }
}
