/* contact */

.main-contact {
  max-width: 400px;
  width: 85%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-heading {
  font-size: 3.1rem;
  text-align: center;
}

.form-field,
.form-textarea {
  border-radius: 0.5px;
}

.form-field {
  height: 30px;
}

.form-textarea {
  height: 200px;
}

.single-inputs-wrapper {
  margin: 15px 0px;
}

.error-class {
  background-color: var(--color-red);
}

.success-class {
  background-color: var(--color-green-light);
}

.success-message {
  display: none;
  color: var(--color-green-light);
  text-align: center;
  margin-bottom: 5px;
}

.main-contact .contact-back-home {
  display: none;
  margin: 25px 0px 0px;
  padding-right: 0px;
  padding-left: 0px;
}
