/* media  */

@media (min-width: 600px) {
  .cta-wrapper__cta--purple,
  .cta-wrapper__cta--yellow {
    margin: 0px 20px;
  }

  .intro-section {
    margin: 0px auto;
  }

  .text-card__date,
  .post-date {
    font-size: 1rem;
  }

  .main-blogs .blogs-h1 .blogs-h1__blog-posts,
  .main-blogs .blogs-h1 .blogs-h1__cro,
  .post-para,
  .post-link,
  .intro-section p,
  .main-about p {
    font-size: 1.3rem;
  }

  .text-card__read-more,
  .footer__link {
    font-size: 1.75rem;
  }

  .blog-post-container h1,
  .main-about h1 {
    font-size: 3.1rem;
  }

  .post-subheading,
  .card-wrapper__text-card h4 {
    font-size: 2.3rem;
  }

  .main-blogs .blogs-h1 .blogs-h1__all {
    font-size: 3.9rem;
  }

  .card__image img,
  .card-wrapper__text-card {
    height: 225px;
  }

  .arrow-wrapper img {
    height: 35px;
  }

  .post-header-img,
  .blogs-header-img {
    height: 225px;
  }

  .blog-post-img {
    height: 450px;
  }
}

@media (min-width: 800px) {
  /*font sizes*/

  .image-top__text-wrapper p {
    font-size: 1rem;
  }

  .list__link,
  .cta,
  .text-card__read-more {
    font-size: 1.3rem;
  }

  .card-wrapper__text-card h4,
  .image-top__text-wrapper h1 {
    font-size: 1.75rem;
  }

  .text-card__date {
    font-size: 0.75rem;
  }

  /*banner and navigation*/

  .hamburger-menu-label {
    display: none;
  }

  .banner {
    display: flex;
    justify-content: center;
  }

  .top-nav {
    display: block;
    border: none;
    position: static;
    width: auto;
    padding: 0px;
  }

  .nav-closer {
    display: none;
  }

  .banner__nav-wrapper {
    display: flex;
    flex-grow: 1;
    max-width: 1450px;
    padding-right: 125px;
  }

  .unlist__list {
    margin: 0px;
  }

  .top-nav__unlist {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .list__link {
    font-family: var(--text-cta);
    list-style: none;
    text-decoration: none;
    color: var(--color-white);
  }

  .list__link:hover {
    text-decoration: underline;
  }

  .list--yellow {
    color: var(--color-yellow);
  }

  /*index header*/

  .main-index__image-top {
    height: 250px;
  }

  .image-top__text-wrapper {
    margin: 15px 0px 5px 5%;
  }

  .cta {
    padding: 10px 20px;
  }

  /*cards index*/

  .card__image img,
  .card-wrapper__text-card {
    height: 175px;
  }

  .arrow-wrapper img {
    height: 25px;
  }
}

@media (min-width: 1000px) {
  /* cards section index */

  .card__image img,
  .card-wrapper__text-card {
    height: 225px;
  }

  .arrow-wrapper img {
    height: 35px;
  }

  .card-wrapper__text-card h4 {
    font-size: 2.3rem;
  }

  .text-card__read-more {
    font-size: 1.75rem;
  }

  .text-card__date {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  /* font sizes*/

  .main-blogs .blogs-h1 .blogs-h1__blog-posts,
  .main-blogs .blogs-h1 .blogs-h1__cro,
  .cta {
    font-size: 1.75rem;
  }

  .image-top__text-wrapper h1 {
    font-size: 2.3rem;
  }

  .image-top__text-wrapper p {
    font-size: 1.3rem;
  }

  .blog-post-container h1,
  .main-about h1,
  .main-blogs .blogs-h1 .blogs-h1__all {
    font-size: 5.5rem;
  }

  /*index header*/

  .main-index__image-top {
    height: 300px;
  }

  .image-top__text-wrapper {
    margin: 0px 0px 100px 5%;
    position: absolute;
  }

  .image-top__cta-wrapper {
    margin: 80px auto 0px auto;
  }

  .cta {
    padding: 10px 15px;
  }

  .cta-wrapper__cta--purple,
  .cta-wrapper__cta--yellow {
    margin: 0px 20px;
  }
}
