.post-heading {
  text-align: center;
  margin: 40px 0px;
}

.loader-posts {
  margin-top: 100px;
}

.main-posts {
  margin: 0px auto;
}

.main-posts .blog-post-container {
  margin: 0px 15px;
}

.blog-post-container h1 {
  text-align: center;
}

.post-subheading {
  margin: 75px 0px 20px;
}

.post-date {
  text-align: center;
}

.post-para {
  margin: 5px 0px 20px;
}

.blog-post-img {
  height: 250px;
  object-fit: cover;
  margin-top: 40px;
}

.posts-cta-wrapper {
  justify-content: center;
  margin-top: 100px;
}

/* popup image*/

.popup-img-container {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
}

.popup-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  max-width: 650px;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: var(--color-white);
  border-width: 5px;
}

/* heading */

.blog-post-container {
  max-width: 800px;
  margin: 0px auto;
}

.posts-heading {
  max-width: 1450px;
  margin: 0px auto;
}
