@import "../css/imports/variables.css";

/* text */

h1,
h2,
h3,
h4 {
  font-family: var(--text-heading), century, georgia, "poppins", verdana, garamond;
}

p {
  font-family: var(--text-paragraph), "nirmala ui", verdana, arial, "montserrat";
}

body {
  height: 100vh;
  margin: 0px;
  background-color: var(--color-green-dark);
}

.site-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-green-dark);
}

/* Header */
.banner {
  display: flex;
  justify-content: center;
  background-color: #161616;
}

.banner__logo {
  margin: 10px 40px;
}

.logo__img {
  width: 100%;
  height: 60px;
}

.banner__nav-wrapper {
  display: flex;
  flex-grow: 1;
  max-width: 1450px;
  padding-right: 238.117px;
}

.top-nav {
  width: 100%;
}

.top-nav__unlist {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0px;
  margin: 0px;
  align-items: center;
  height: 100%;
}

.list__link {
  font-family: var(--text-cta);
  font-size: 1.75rem;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  color: var(--color-white);
}

.list__link:hover {
  text-decoration: underline;
}

.list--yellow {
  color: var(--color-yellow);
}

/*main content*/

.main {
  max-width: 1450px;
  margin: 0px auto;
  background-color: var(--color-green-dark);
  flex-grow: 1;
  width: 100%;
}

.main-index__image-top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 75%;
  background-image: url(/images/croheader.jpg);
}

.image-top__text-wrapper h1,
.image-top__text-wrapper p {
  color: white;
  margin: 0px;
}

.top-image__text p {
  align-self: flex-end;
}

.image-top__text-wrapper {
  margin: 0px 0px 100px 100px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.image-top__cta-wrapper {
  margin: 80px auto 0px auto;
}

.cta {
  font-family: var(--text-cta);
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
  text-decoration: none;
  list-style: none;
  padding: 10px 30px;
  border: none;
}

.cta--purple {
  color: var(--color-white);
  background-color: var(--color-purple);
}

.cta--yellow {
  color: var(--color-black);
  background-color: var(--color-yellow);
}

.cta-wrapper__cta--purple {
  margin: 0px 20px;
}

.cta-wrapper__cta--yellow {
  margin: 0px 20px;
}

/* Intro main index*/

.intro-section {
  margin: 0px auto;
  max-width: 700px;
}

.intro-section h2 {
  font-size: 3.1rem;
  color: white;
  text-align: center;
  margin: 75px 0px 10px;
}

.intro-section p {
  font-size: 1.3rem;
  margin: 10px 0px 75px;
  color: var(--color-white);
}

.intro-section__link-wrapper {
  display: flex;
  justify-content: space-between;
}

.link-wrapper__link {
  font-family: var(--text-link);
  font-size: 1.75rem;
  text-decoration: none;
  color: var(--color-yellow);
}

.link-wrapper__link:hover {
  text-decoration: underline;
}

/* Card-container index */

.latest-posts {
  margin-top: 100px;
}

.latest-posts h3 {
  text-align: center;
  margin: 0px auto 20px;
  font-size: 2.3rem;
  color: #fff;
}

.latest-posts__card-container {
  position: relative;
}

.latest-posts__view-all-link {
  text-decoration: none;
  font-family: verdana;
  color: orange;
  font-size: 28px;
  display: block;
  text-align: center;
}

.latest-posts__view-all-link,
.view-more-btn {
  font-family: var(--text-cta);
  font-weight: 200;
  background: none;
  border: none;
  display: block;
  color: var(--color-yellow);
  font-size: 1.75rem;
  font-family: verdana;
  margin: 30px auto 0px;
  padding: 10px 40px;
}

.latest-posts__view-all-link:hover {
  text-decoration: underline;
}

.view-more-btn:hover {
  color: var(--color-white);
}

.latest-posts__view-all-link {
  width: 250px;
}

.arrow-wrapper {
  position: absolute;
  background-color: var(--color-green-dark);
  padding: 15px 10px;
  border-style: none;
}

.arrow-wrapper img {
  width: 100%;
  height: 35px;
}

.arrow-left {
  opacity: 50%;
  top: 41.5%;
  left: 0px;
}

.arrow-left:hover,
.arrow-right:hover {
  padding: 17px 12px;
  transition: padding 0.4s;
}

.arrow-right {
  right: 0px;
  top: 41.5%;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* cards */

.card-wrapper__card {
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: white;
  text-decoration: none;
}

.card__image img {
  width: 100%;
  object-fit: cover;
  height: 225px;
}

.card-wrapper__text-card {
  display: flex;
  justify-content: space-evenly;
  height: 225px;
  flex-direction: column;
  text-align: center;
}

.card-wrapper__text-card h4 {
  font-size: 2.3rem;
  color: var(--color-black);
  margin: 0px 50px;
}

.text-card__read-more {
  font-size: 1.75rem;
  font-family: var(--text-link);
  color: var(--color-purple);
  margin: 0px;
}

.text-card__date {
  color: var(--color-black);
  font-family: var(--text-paragraph);
  font-size: 1rem;
  margin: 0px;
}

/* Footer */

footer {
  margin-top: 250px;
  background-color: black;
}

.footer__footer-wrapper {
  max-width: 1450px;
  margin: 0px auto;
}

.footer-wrapper__logo {
  width: 200px;
  margin: 30px 0px 30px 30px;
}

.logo__img--footer {
  height: 100%;
}

.footer-wrapper__text-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 100px;
}

.footer__link {
  text-decoration: none;
  color: white;
  margin: 0px 0px 10px 30px;
}

/* nav breadcrumbs */

.breadcrumbs ul {
  display: flex;
  max-width: 1450px;
  margin: 0px auto;
  list-style: none;
  padding: 0px;
}

.breadcrumbs ul li a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin: 5px 5px;
  text-decoration: none;
}

/* posts */

.header-image-posts,
.header-image-blogs {
  width: 100%;
  margin: 0px auto;
  max-width: 1450px;
}

.post-header-img,
.blogs-header-img {
  object-fit: cover;
  height: 200px;
  object-position: 0;
  width: 100%;
}

/* all blogs*/
