@import "../css/imports/variables.css";

/* background-colors*/
.banner,
footer,
.top-nav {
  background-color: var(--color-black);
}

.main,
.arrow-wrapper {
  background-color: var(--color-green-dark);
}

/* color */

.list--yellow,
.link-wrapper__link,
.latest-posts__view-all-link,
.view-more-btn,
.main-blogs .blogs-h1 .blogs-h1__cro,
.post-heading,
.post-link,
.main-about h1,
.contact-heading {
  color: var(--color-yellow);
}

.list__link,
.image-top__text-wrapper h1,
.image-top__text-wrapper p,
.cta--purple,
.intro-section h2,
.intro-section p,
.latest-posts h3,
.footer__link,
.breadcrumbs ul li a,
.view-more-btn:hover,
.loader,
.post-subheading,
.post-date,
.post-para,
.main-about p {
  color: var(--color-white);
}

.cta--yellow,
.card-wrapper__text-card h4,
.text-card__date,
.form-field,
.form-textarea {
  color: var(--color-black);
}

.text-card__read-more {
  color: var(--color-purple);
}

/* text */

.image-top__text-wrapper h1,
.intro-section h2,
.latest-posts h3,
.card-wrapper__text-card h4,
.loader,
.single-inputs-wrapper {
  font-family: var(--text-heading), century, georgia, "poppins", verdana, garamond;
}

.text-card__date,
.image-top__text-wrapper p,
.intro-section p,
.post-para,
.form-field,
.form-textarea {
  font-family: var(--text-paragraph), "nirmala ui", verdana, arial, "montserrat";
}

.link-wrapper__link,
.text-card__read-more,
.footer__link,
.post-link {
  font-family: var(--text-link), century, georgia, garamond;
}

.latest-posts__view-all-link,
.view-more-btn,
.list__link,
.cta,
.breadcrumbs ul li a,
.main-blogs .blogs-h1 .blogs-h1__cro {
  font-family: var(--text-cta), verdana, arial, "nirmala ui", "poppins";
}

/* font sizes */

.image-top__text-wrapper p,
.text-card__date,
.post-date {
  font-size: 0.75rem;
}

.cta,
.intro-section p,
.main-blogs .blogs-h1 .blogs-h1__blog-posts,
.main-blogs .blogs-h1 .blogs-h1__cro,
.post-para,
.post-link,
.main-about p,
.form-field,
.form-textarea {
  font-size: 1rem;
}

.image-top__text-wrapper h1,
.link-wrapper__link,
.text-card__read-more,
.footer__link,
.single-inputs-wrapper {
  font-size: 1.3rem;
}

.list__link,
.latest-posts__view-all-link,
.view-more-btn,
.card-wrapper__text-card h4,
.loader,
.post-subheading {
  font-size: 1.75rem;
}

.intro-section h2,
.latest-posts h3,
.blog-post-container h1,
.main-about h1 {
  font-size: 2.3rem;
}

/* Links no style or text decoration*/

.cta,
.link-wrapper__link,
.latest-posts__view-all-link,
.card-wrapper__card,
.footer__link,
.breadcrumbs ul li a,
.list__link,
.post-link {
  text-decoration: none;
}

.breadcrumbs ul,
.top-nav__unlist {
  list-style: none;
}

/*display flex & direction column*/
.site-container,
.banner,
.banner__nav-wrapper,
.top-nav__unlist,
.nav-closer,
.main-index__image-top,
.image-top__text-wrapper,
.image-top__cta-wrapper,
.intro-section__link-wrapper,
.card-wrapper,
.card-wrapper__card,
.card-wrapper__text-card,
.footer-wrapper__text-wrapper,
.blogs-container,
.breadcrumbs ul,
.posts-cta-wrapper,
.about-cta-wrapper,
.contact-form {
  display: flex;
}

.site-container,
.banner__nav-wrapper,
.top-nav__unlist,
.image-top__text-wrapper,
.card-wrapper__card,
.card-wrapper__text-card,
.footer-wrapper__text-wrapper,
.about-cta-wrapper,
.contact-form {
  flex-direction: column;
}

/* width 100%*/

.main,
.top-nav,
.arrow-wrapper img,
.hamburger-menu-label img,
.main-index__image-top,
.card__image img,
.footer-wrapper__logo,
.header-image-posts,
.header-image-blogs,
.post-header-img,
.blogs-header-img,
.blog-post-img,
.popup-img-container,
.posts-heading,
.about-cta-wrapper a,
.contact-form {
  width: 100%;
}

/* height 100% */

.site-container,
.logo__img--top-banner,
.logo__img,
.nav-closer__img,
.top-nav__unlist,
.nav__logo,
.logo__img--footer,
.main-blogs .blogs-h1 .blogs-h1__all,
.card-wrapper--blogs,
.popup-img-container {
  height: 100%;
}

/* margin 0px */

body,
.nav-closer,
.banner__logo,
.nav-closer,
.top-nav__unlist,
.image-top__text-wrapper h1,
.text-card__read-more,
.text-card__date {
  margin: 0px;
}

/* global styles */

body,
.site-container {
  background-color: var(--color-green-dark);
}

body {
  height: 100vh;
}

/* Header */
.banner {
  justify-content: space-between;
  padding: 15px;
}

.logo__img--top-banner,
.logo__img {
  width: 125px;
}

.banner__nav-wrapper {
  justify-content: center;
  max-width: 1450px;
}

/* burger menu and navigation*/
.top-nav {
  display: none;
  padding: 25px;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
  width: 50%;
  border-style: solid;
  border-color: var(--color-yellow);
}

#hamburger-menu:checked ~ .top-nav {
  display: block;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu-label img {
  height: 35px;
}

.nav-closer {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-yellow);
  align-items: center;
  justify-content: space-between;
}

.nav-closer__img {
  width: 45px;
  padding: 5px;
}

.nav-closer__img:hover {
  border-style: solid;
  border-color: var(--color-yellow);
  border-width: 1px;
}

.nav__logo {
  width: 125px;
}

.top-nav__unlist {
  align-items: flex-start;
  padding: 0px;
}

.unlist__list {
  margin: 25px 0px;
}

.list__link:hover {
  text-decoration: underline;
}

/*main content*/

.main {
  max-width: 1450px;
  margin: 0px auto;
  flex-grow: 1;
}

/* buttons */

.cta {
  font-weight: 700;
  text-align: center;
  padding: 10px 15px;
  border: none;
}

.cta--purple {
  background-color: var(--color-purple);
}

.cta--yellow {
  background-color: var(--color-yellow);
}

.cta-wrapper__cta--purple,
.cta-wrapper__cta--yellow {
  margin: 0px 15px;
}

/* cards */

.card-wrapper__card {
  width: 100%;
  background-color: var(--color-white);
}

.card__image img,
.card-wrapper__text-card {
  height: 175px;
}

.card__image img {
  object-fit: cover;
}

.card-wrapper__text-card {
  justify-content: space-evenly;
  text-align: center;
}

.card-wrapper__text-card h4 {
  margin: 0px 50px;
}

/* Footer */

footer {
  margin-top: 250px;
  padding-bottom: 100px;
}

.footer__footer-wrapper {
  padding: 25px;
  max-width: 1450px;
  margin: 0px auto;
}

.footer-wrapper__logo {
  margin: 25px 0px 50px 15px;
}

.footer-wrapper__text-wrapper {
  margin: 0px 0px 0px 15px;
}

.footer__link {
  margin-bottom: 25px;
  max-width: 175px;
}

.footer__link:hover {
  text-decoration: underline;
}

/* nav breadcrumbs */

.breadcrumbs ul {
  max-width: 1450px;
  margin: 0px auto;
  padding: 0px;
}

.breadcrumbs ul li a {
  margin: 5px 5px;
}

/* Header image (all beside index) */

.header-image-posts,
.header-image-blogs {
  margin: 0px auto;
  max-width: 1450px;
}

.post-header-img,
.blogs-header-img {
  object-fit: cover;
  height: 150px;
  object-position: 0;
}
