li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-box {
  height: 300px;
  width: 300px;
  border-style: solid;
  border-color: red;
}

.box1 {
  height: 30px;
  width: 30px;
  border-style: solid;
}

.box2 {
  height: 30px;
  width: 30px;
  border-style: solid;
}

.box3 {
  height: 30px;
  width: 30px;
  border-style: solid;
}

.box4 {
  height: 30px;
  width: 30px;
  border-style: solid;
}
